@import url('https://fonts.googleapis.com/css?family=Raleway');

html, body {
    height: 100vh;
}

body {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin: 0;
    background-color: #000;
}

.container {
    margin: 0 auto;
}

/* Navigation */
nav {
    font-size: 1.1rem;
    display: flex; 
    width: 900px;
    height: 130px;
    padding-bottom: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

a:hover {
    color: rgb(201, 201, 201);
}

#desktop-logo {
    height: 100px;
}

#desktop-logo img {
    width: 100%;
    height: 100%;
}

/* Hide small logo on desktop */
#mobile-logo {
    display: none;
}

/* Hide mobile menu icon on desktop */
.nav-toggle {
    display: none;
}

/* Showcase Image Carousel */
#showcase-buttons {
    width: 100%;
}

button {
    position: absolute;
    top: 50%;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-size: 3rem;
}

.button-left {
    left: 0;   
}

.button-right {
    right: 0;
}

#showcase-carousel {
    height: 80vh;
    overflow: hidden;
}

#showcase-carousel img {
    width: 100%;   
}

/* Media Queries */

/* Large screens */
@media screen and (max-width: 900px) {
    .container {
        max-width: 900px;
    }

    nav {
        width: 100%;
    }
}

/* Small screens */
@media screen and (max-width: 767px) {
    nav {
        height: auto;
        flex-direction: column;
        font-size: 1rem;
    }

    nav a {
        width: 100%;
        padding: 5px 0;
    }

    .nav-items {
        display: none;
        z-index: 5;
    }

    .nav-toggle {
        color: #fff;
        display: initial;
        position: absolute;
        cursor: pointer;
        z-index: 10;
        top: 5%;
        left: 4%;
    }

    .nav-toggle-show {
        display: flex;
    }

    /* Remove large logo for mobiles */
    #desktop-logo {
        display: none;
    }

    /* Add duplicate small logo for mobiles */
    #mobile-logo {
        height: 60px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #mobile-logo a {
        height: 50px;
        width: 50px;
    }

    #mobile-logo img {
        height: 100%;
        width: 100%;
    }
}



